[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
pinecone-client = "*"
openai = "*"
flask = "*"
python-dotenv = "*"
streamlit = "*"
docs = "*"
streamlit-chat = "*"
streamlit-extras = "*"
clear = "*"
infinopy = "*"

[dev-packages]

[requires]
python_version = "3.9"
